#map_canvas { float:left; border:1px solid #000;}
ul#markerTypes { float:left; width:500px; list-style:none; padding:0; }
ul#markerTypes li { padding:10px; }
ul#markerTypes li label{ color: #000; }



html, body, .container-fluid, .row, .map { height: 100% }

.container-fluid{
    padding-top:51px;
}
/*Hide for mobile, show later*/
@media (max-width: 600px) {
    #logo-brand {
        display: none;
    }
}

    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1001;
        display: block;
        padding: 0px !important;
        overflow-x: hidden;
        overflow-y: auto;  /*Scrollable contents if viewport is shorter than content.*/
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

.ui-autocomplete {
    background-color: #fff;
    width: 410px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0;
}
#nxIK_search {
    position: relative;
    width: 400px;
}
#nxIK_topbar {
    background-color: #000;
    color: #fff;
    position: absolute;
    overflow: hidden;
    z-index: 3;
}
#nxIK_topbar a {
    color: #fff;
}
.map {
    /*width: 75%;*/
    height: 100%;
    position: relative;
    border: 0 red solid;
    padding-right: 0px;
    padding-left: 40px;
}
#nxIK_map {
    width:100%;
    height: 100%;
    height:calc(100% - 0px);
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*max-width: 1600px;*/
    /*max-height: 1000px;*/
}
.nxIK_mono {
    font-family: monospace;
}
#nxIK_lonlat {
    border: none;
    background-color: #aaa;
    font-family: monospace;
}
#nxIK_checkboxContainer {
    position: absolute;
    width: 144px;
    height: 270px;
    border: 1px #000 solid;
    background: #eee;
    left: 20px;
    top: 290px;
    opacity: .65;
    z-index: 3;
}
.inputZoom {
    margin: 0;
    padding: 0;
}
#nxIK_checkboxContainer input {
    margin-top: 10px;
}
.marker-cluster-small {
    background-color: rgba(60, 179, 113, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(255, 255, 255, 0.8);

}

.marker-cluster-medium {
    background-color: rgba(89, 128, 255, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker-cluster-xmedium {
    background-color: rgba(255, 255, 0, 0.6);
}
.marker-cluster-xmedium div {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker-cluster-large {
    background-color: rgba(255, 165, 0, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(255, 255, 255, 0.8);
}
.marker-cluster-xlarge {
    background-color: rgba(255, 0, 0, 0.6);
}
.marker-cluster-xlarge div {
    background-color: rgba(255, 255, 255, 0.8);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 700;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.omb_btn-facebook  {
    background: #3b5998 !important;
    color: white !important;
}
.omb_btn-facebook:hover {
    background: #3b5998 !important;
    color: white !important;
}
html, body {
    height: 100%;
    width: 100%;
}

@media (min-width: 1000px) {
    .navbar {
        padding-right: 15px;
        margin-bottom: 0px;
    }
}

.fa-2 {
    font-size: 2em !important;
    margin-right: 10px;
}
.mt5 { margin-top:5px; }
.mt7 { margin-top:7px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt17 { margin-top:17px; }
.mt30 { margin-top:30px; }
.mb5 { margin-bottom:5px; }
.mb7 { margin-bottom:7px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb17 { margin-bottom:17px; }
.mb30 { margin-bottom:30px; }
#footer {
  color: #101010;
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  clear:both;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;

}
#map-canvas {
    width:570px;
    height:400px;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}
.text-white {
    color: #fff;
    font-weight: 100;
}
#list-column {
    padding-left: 0px;
    padding-right: 0px;
}
#list-column .panel {
    border-radius: 0px;
}
#list-column .panel-heading {
    border-radius: 0px;
}
#mapbox_config {
    display: none;
}