@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900');


*{
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
body{
  max-width:100vw;
  overflow: hidden;
  margin: unset;
  background-color: #0E0E0E;
}
#root{
  overflow-x: hidden;
  overflow-y: auto;
}
a{
  text-decoration: none;
  color: unset;
}
button,
input,
select,
textarea{
  appearance: none;
  -webkit-appearance: none;
  border:unset;
  background-color: transparent;
  margin: unset;
  padding: unset;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.section{
  width:100%;
  position:relative;
}
.container{
  max-width:1440px;
  position:relative;
  width: 100%;
  margin: auto;
  padding: 0 135px;
}
.cursor,
a,
button{
  cursor: pointer;
}
.no-margin{
  margin: unset;
}



.flex-r{
  display: flex;
  flex-direction: row;
}
.flex-r.v-center{
  align-items: center;
}
.flex-r.v-top{
  align-items: flex-start;
}
.flex-r.v-btm{
  align-items: flex-end;
}
.flex-r.h-center{
  justify-content: center;
}
.flex-r.h-left{
  justify-content: start;
}
.flex-r.h-right{
  justify-content: end;
}
.flex-r.just-space{
  justify-content: space-between;
}
.flex-c{
  display: flex;
  flex-direction: column;
}
.flex-c.h-center{
  align-items: center;
}
.flex-c.h-left{
  align-items: flex-start;
}
.flex-c.h-right{
  align-items: flex-end;
}
.flex-c.v-center{
  justify-content: center;
}
.flex-c.v-top{
  justify-content: start;
}
.flex-c.h-btm{
  justify-content: end;
}




.t-400{
  font-weight: 400;
}
.t-500{
  font-weight: 500;
}
.t-600{
  font-weight: 600;
}
.t-700{
  font-weight: 700;
}
.t-800{
  font-weight: 800;
}



.t-12{
  font-size: 12px;
}
.t-16{
  font-size: 16px;
}
.t-18{
  font-size: 18px;
}
.t-20{
  font-size: 20px;
}




.l-120{
  line-height: 120%;
}





.t-upper{
  text-transform: uppercase;
}


.t-center{
  text-align: center;
}
.t-right{
  text-align: right;
}
.t-left{
  text-align: left;
}


.line-clamp{
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.line-clamp.clamp-1{
  -webkit-line-clamp: 1;
}
.line-clamp.clamp-2{
  -webkit-line-clamp: 2;
}
.line-clamp.clamp-3{
  -webkit-line-clamp: 3;
}
.line-clamp.clamp-4{
  -webkit-line-clamp: 4;
}



.test-btn{
  position: absolute;
  z-index: 9999999;
  bottom: 30px;
  right: 1vw;
  background-color: #D1AB60;
  padding: 10px;
  color: white;
  border-radius: 10px;
  user-select: none;
}
.map-notif{
  position: absolute;
  top: 4px;
  right:5px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  display: none;
}

.tab-legend-wrap{
  left: -2px;
  margin-bottom: 3px;
  bottom: 100%;
  position: absolute;
}
.tab-legend{
  color: #061A33;
  background-color: white;
  padding: 5px 10px;
  border: 2px solid #EBEBEB;
  filter: brightness(0.9);
}
.tab-legend:hover{
  filter: brightness(0.95);
}
.tab-legend.active{
  filter: brightness(1);
}
.tab-legend:first-child{
  border-radius: 10px 0 0 0;
}
.tab-legend:last-child{
  border-radius: 0 10px 0 0;
}
.legend-content{
  min-width: 150px;
}
.center-legend{
  overflow: auto;
  max-width: 90vw;
}
.legend-filter-item > div{
  flex-shrink: 0;
}
.legend-filter-item > span{
  flex: 1;
}


.nav-date{
  position: absolute;
  left: 30px;
}
.nav-date > span:first-child{
  margin-bottom: -5px;
}



.navbar{
  height: 70px;
  background-color: #061A33;
  color: white;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 99999;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 8%);
}
.navbar > .container{
    height: 100%;
    max-width: 100%;
}
.nav-menu{
  background-color: white;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 5vh;
  z-index: 9999999999;
  color: #102D4F;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #EBEBEB;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
  display: none;
}
.nav-menu.active{
  display: flex;
}
.nav-menu > a{
  margin-bottom: 8px;
}
.nav-menu > a:hover{
  color: #D1AB60;
}
.nav-menu > .divider{
  height: 2px;
  width: 100%;
  background-color: #EBEBEB;
  margin-top: 2px;
  margin-bottom: 10px;
}


.toast{
  position: absolute;
  z-index: 9999;
  top: 10vh;
  right: 5vw;
}
.toast > .toast-content{
  padding: 20px;
  width: 250px;
  background-color: #FAC1CE;
  min-height: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.toast > .toast-content > div:first-child{
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(218, 173, 173, 1);
  color: #8F334A;
}



/* .filter-wrap{
  position: absolute;
  z-index: 9999;
  bottom: 30px;
  left: 5vw;
}
.filter-btn{
  background-color: white;
  border-radius: 50%;
  border: 2px solid #EBEBEB;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
  height: 50px;
  width: 50px;
}
.filter-btn:hover{
  filter: brightness(0.9);
}
.filter-menu{
  display: none;
  background-color: white;
  position: absolute;
  bottom: 130%;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  left: 0;
  height: 251px;
  border: 2px solid #EBEBEB;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
} */

.legend-content{
  display: none;
}
.legend-map.active{
  display: flex;
}
.legend-filter.active{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-auto-flow: column;
}


.legend-filter-item > div{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(222, 222, 222, 0.62);
}
.legend-filter-item.active > div{
  background-color: rgba(10, 26, 52, 1);
}
.legend-filter-item > div > img{
  display: none;
}
.legend-filter-item.active > div > img{
  display: block;
}




.home-sec1{
    height: 100vh;
}
#map-wrapper{
    background-color: #A5C7F0;
    width: 100%;
    height: 100%;
}
.legend{
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 142px;
    /* left: 0; */
    background-color: white;
    padding: 8px 20px;
    z-index: 99999;
    border-radius: 0 10px 10px 10px;
    border: 2px solid #EBEBEB;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    transition: all 200ms ease-out;
    max-width: 73vw;
}
.legend > div{
    /* height: 154px; */
}
.legend-itm{
    margin: 0 2px;
    width: 120px;
    position: relative;
    padding: 8px 5px;
}
.legend-itm:hover{
    border-radius: 5px;
    background-color: rgba(27, 59, 98, 0.5);
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.legend-itm.active{
    border-radius: 5px;
    background-color: rgba(27, 59, 98, 1);
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.legend-itm.active > span{
    font-weight: 600;
}
.legend-itm > img{
    /* width: 90px; */
    width: 80%;
    height: 70px;
    background-color: #C4C4C4;
    object-fit: cover;
    border-radius: 5px;
}
.legend-itm.active > img{
  border: 1px solid #EAC881;
}
.legend-itm > span{
    margin-top: 10px;
}
.legend-tool{
    height: 100px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #EBEBEB;
    justify-content: space-around;
}
.legend-tool > button > img{
    width: 30px;
    height: 30px;
}
#tab-legend-btn-1.single{
  border-radius: 10px 10px 0 0;
}


.cuaca-modal{
    position: absolute;
    top: 80px;
    z-index: 99999;
    background-color: white;
    padding: 24px 26px;
    border-radius: 10px;
    border: 2px solid #EBEBEB;
    display: none;
    width: 400px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.cuaca-location{
    font-weight: 700;
}
.cuaca-itm > span:first-child{
    /* margin: 0 30px; */
    line-height: 100%;
    text-align: center;
}
.cuaca-itm > img{
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.cuaca-itm:last-child{
    margin-right: unset;
}
.cuaca-itm:first-child{
    margin-left: unset;
}
.close-cuaca{
    width: 20px;
    height: 20px;
    margin-left: 50px;
}
.cuaca-wrap{
  /* justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
.cuaca-wrap.wrap-2{
  grid-template-columns: repeat(2, auto);
  margin-bottom: 20px;
}
.cuaca-wrap.wrap-c{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-height: 20vh;
  overflow: auto;
}
.cuaca-wrap.wrap-2 > div:last-child{
  max-height: 20vh;
  overflow: auto;
}
.cuaca-top-wrap{
    padding-bottom: 5px;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 2px solid #EBEBEB;
}

.simple-notification {
    position: fixed;
    bottom: 50%;
    left: calc(50% - 100px);
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    text-align:center;
    font-size: 15px;
}
    .simple-notification .fa {
    font-size:20px;
    margin-bottom: 5px;
}

.notification-container{
  position: absolute;
  left: -214%;
  top: 15%;
  height: 332px;
  overflow-y: scroll;
  overflow-x: hidden;
  width:400px;
  flex-direction: column;
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.notification-container.active{
  display: flex;
}

.notifcation-wrapper {

  padding-bottom: 7px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.unread{
  background-color:#e9e9e9;
}
.notification-desc{
  font-size: 14px;
    color: #626262;
}
.notification-title{
      font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
}
.notification-count {
    display: none;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    margin-left: 7px;
}
.button-detail-info {
    background-color: #061a33;
    color: #fff;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 3px 3px rgba(0,0,0,0.2);
    /* float: right; */
    margin-left: auto;
}
.weather-desc{

  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #d2d2d2 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-wrapper{
  display:none;
  width:100%;
  justify-content:center;
  align-items: center;
}

#floating-map{
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}
#floating-map > img{
  object-fit: contain;
}
#floating-map > .detail{
  display: none;
  position: absolute;
  right: 0;
  bottom: calc( 100% + 10px);
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 20vw;
  overflow: auto;
  max-height: 50vh;
  font-size: 12px;
}
#floating-map > .detail > div{
  display: none;
}

.nav-menu-btn{
  position: relative;
}
.nav-menu-btn::after{
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid white;
  content: '';
  top: 0;
  right: 0;
}
.nav-menu-btn.notif::after{
  display: block;
}